<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <form action="guardarAnuncio" method="post">
        Nombre: <input type="text" name="nombre"  value="{{nombre}}" /> <br>
        Asunto: <input type="text" name="asunto" /> <br>
        Comentario: <textarea name="comentario" rows=5 cols=40></textarea> <br>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>